
client/packages/Newtonsoft.Json.13.0.1/lib/net20/Newtonsoft.Json.dll
client/packages/Newtonsoft.Json.13.0.1/lib/net20/Newtonsoft.Json.xml
client/packages/Newtonsoft.Json.13.0.1/lib/net35/Newtonsoft.Json.dll
client/packages/Newtonsoft.Json.13.0.1/.signature.p7s
client/packages/Newtonsoft.Json.13.0.1/lib/net35/Newtonsoft.Json.xml
client/packages/Newtonsoft.Json.13.0.1/lib/net40/Newtonsoft.Json.dll
AiClient/.idea/.idea.AiClient/.idea/workspace.xml
AiClient/.run/Start ClientTwo.run.xml
client/packages/Newtonsoft.Json.13.0.1/lib/net40/Newtonsoft.Json.xml
client/packages/Newtonsoft.Json.13.0.1/lib/net45/Newtonsoft.Json.dll
client/packages/Newtonsoft.Json.13.0.1/lib/net45/Newtonsoft.Json.xml
client/packages/Newtonsoft.Json.13.0.1/lib/netstandard1.0/Newtonsoft.Json.dll
client/packages/Newtonsoft.Json.13.0.1/lib/netstandard1.0/Newtonsoft.Json.xml
client/packages/Newtonsoft.Json.13.0.1/lib/netstandard1.3/Newtonsoft.Json.dll
client/packages/Newtonsoft.Json.13.0.1/lib/netstandard1.3/Newtonsoft.Json.xml
client/packages/Newtonsoft.Json.13.0.1/lib/netstandard2.0/Newtonsoft.Json.dll
client/packages/Newtonsoft.Json.13.0.1/lib/netstandard2.0/Newtonsoft.Json.xml
client/packages/Newtonsoft.Json.13.0.1/LICENSE.md
client/packages/Newtonsoft.Json.13.0.1/Newtonsoft.Json.13.0.1.nupkg
client/packages/Newtonsoft.Json.13.0.1/packageIcon.png
